@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:Outfit;
}

.app-layout{
  display: flex;
    min-height: 100vh;
  animation: fadeIn 1.5s;
}
/* dark mode improvements */
body.dark {
  background-color: #121212;
  color: #e9e9e9;
}

/* panels / blocks */
body.dark .sidebar,
body.dark .main,
body.dark .card,
body.dark .search-box,
body.dark .result-data,
body.dark .loader,
body.dark .main-bottom {
  background-color: #181818;
  color: #e9e9e9;
  border-color: rgba(255,255,255,0.06);
}
body.dark .main,
body.dark .main-bottom{
  background-color: black;
}

/* inputs / textareas */
body.dark input,
body.dark textarea {
  background-color: #222;
  color: #e9e9e9;
  border: 1px solid rgba(95, 0, 0, 0.06);
  
}

/* optional: smooth transitions */
body, .main, .sidebar, .card {
  transition: background-color 180ms ease, color 180ms ease;
}
body.dark * {
  color: #e5e5e5 !important;
}
body.dark .bright {
  filter: brightness(0) invert(1);
}


body.dark .new-chat{
  background-color: rgb(62, 59, 59);
}
body.dark .search-box {
  background-color: #222 !important;
  border-radius: 50px !important; /* <-- restores curved shape */
  border: 1px solid #444;
  
}


@keyframes fadeIn{
  0%{
    opacity : 0 ;
  }
  100%{
    opacity: 1;
  }
}