/* Logo */
.gemini-logo {
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-top: 100px;
}

/* Page layout */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
}

/* Card */
.login-card {
  margin-top: 60px;
  width: 500px;
  padding: 32px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login-card h2 {
  margin-bottom: 24px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
  background: #dad6d6;
  color: black;
}

.login-card input:focus {
  outline: 2px solid #4f8cff;
}

.login-card button {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #4f8cff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-card button:hover {
  background: #3c74d9;
}

/* Mobile */
@media (max-width: 480px) {
  .gemini-logo {
    font-size: 20px;
    margin: 70px 0 0px 0;
  }

  .login-card {
    width: 340px;
    margin-top: 20px;
  }
  .createpass{
    font-size: 12px;
    display: flex;
    gap: 90px;
  }
}

@media  (max-width: 600px){

}

/* Dark mode */
body.dark .login-page {
  background: #0f0f0f;
}

body.dark .login-card {
  background: #1a1a1a;
  color: white;
}

body.dark .login-card input {
  background: #2a2a2a;
  color: white;
}
